{{!-- Facebook --}}
{{#if @site.facebook}}
  <a href="{{facebook_url}}" class="facebook" aria-label="Facebook">{{>icon name="facebook" size="md"}}</a>
{{/if}}

{{!-- Twitter --}}
{{#if @site.twitter}}
  <a href="{{twitter_url}}" class="twitter" aria-label="Twitter">{{>icon name="twitter" size="md"}}</a>
{{/if}}

{{!-- RSS --}}
<a href="{{@site.url}}/rss" class="rss" aria-label="RSS">{{>icon name="rss" size="md"}}</a>

{{!-- Discord --}}
{{!-- <a href="" class="discord" aria-label="Discord">{{>icon name="discord" size="md"}}</a> --}}

{{!-- Dribbble --}}
{{!-- <a href="" class="dribbble" aria-label="Dribbble">{{>icon name="dribbble" size="md"}}</a> --}}

{{!-- Github --}}
{{!-- <a href="" class="github" aria-label="Github">{{>icon name="github" size="md"}}</a> --}}

{{!-- Instagram --}}
{{!-- <a href="" class="instagram" aria-label="Instagram">{{>icon name="instagram" size="md"}}</a> --}}

{{!-- Linkedin --}}
{{!-- <a href="" class="linkedin" aria-label="Linkedin">{{>icon name="linkedin" size="md"}}</a> --}}

{{!-- Pinterest --}}
{{!-- <a href="" class="pinterest" aria-label="Pinterest">{{>icon name="pinterest" size="md"}}</a> --}}

{{!-- Reddit --}}
{{!-- <a href="" class="reddit" aria-label="Reddit">{{>icon name="reddit" size="md"}}</a> --}}

{{!-- Telegram --}}
{{!-- <a href="" class="telegram" aria-label="Telegram">{{>icon name="telegram" size="md"}}</a> --}}

{{!-- Tiktok --}}
{{!-- <a href="" class="tiktok" aria-label="Tiktok">{{>icon name="tiktok" size="md"}}</a> --}}

{{!-- Whatsapp --}}
{{!-- <a href="" class="whatsapp" aria-label="Whatsapp">{{>icon name="whatsapp" size="md"}}</a> --}}

{{!-- Youtube --}}
{{!-- <a href="" class="youtube" aria-label="Youtube">{{>icon name="youtube" size="md"}}</a> --}}
