{{!< default}}

{{!-- Everything inside the #post tags pulls data from the post --}}
{{#post}}

  <div class="container wrapper m-0-auto">
    {{!-- Hero --}}
    {{> post-hero 
      image_style="max-width"
    }}

    <div class="row m-b-lg">
      {{!-- Fixed TOC --}}
      <div class="col-xs-12 col-lg-3">
        {{> toc sidebar=true}}
      </div>

      {{!-- Post content --}}
      <div class="col-xs-12 col-lg-6">

        <article class="{{post_class}} content post-access-{{visibility}} no-overflow">
          {{content}}
        </article>

        {{#is "post"}}
          {{#if access}}
            {{!-- Post share --}}
            {{> social-share}}
            
            {{!-- Post author(s) section --}}
            {{> post-author}}

            {{!-- Include Comments --}}
            {{> comments}}
          {{/if}}
        {{/is}}
      </div>

      {{!-- Sidebar --}}
      <div class="col-xs-12 col-lg-3">
        {{> sidebar}}
      </div>
    </div>

    {{!-- Elements for posts (not pages) --}}
    {{#is "post"}}
      {{!-- Related posts --}}
      {{> related-posts}}
    {{/is}}
  </div>

{{/post}}