.progress-bar {
  visibility: var(--global-progress-bar);
  position: fixed;
  top: 0;
  left: 0;
  height: 5px;
  width: var(--scroll);
  z-index: 60;
  background-color:var(--color-brand);

  &:after {
    background: linear-gradient(to bottom right,hsla(var(--color-bg-base) / 0%),hsla(var(--color-bg-base) / 50%));
    content: "";
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
  }
}